body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #5f9341;
    box-sizing: border-box;
}

button {
    margin-top: 5px;
    background-color: #5f9341;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-left: 0;
    
}

li {
    color: aquamarine;
    margin-top: 5px;
    
}

li a {
    color: darkgreen;
}